.ui.container
  .ui.three.column.grid
    .six.wide.column
      .ui.vertical.steps
        .completed.step
          %i.user.icon
          .content
            .title Personal
            .description Verify your identity
        .active.step
          %i.file.text.outline.icon
          .content
            .title Supporting Documents
            .description Provide proof of identity
        .disabled.step
          %i.credit.card.icon
          .content
            .title Withdrawals
            .description Confirm your withdrawal details
    .eight.wide.column
      .ui.form
        .ui.dividing.header Supporting Documents
        %p Please attach the following documents
        = form_for(@supporting_documents) do |f|
          %p
            Scans must be atleast 600 dpi each and must be either jpg/jpeg, png, or pdf files.
          .field
            = f.label :cnic_front, 'Front of CNIC'
            = f.file_field :cnic_front
          .field
            = f.label :cnic_back, 'Back of CNIC'
            = f.file_field :cnic_back
          .field
            = f.label :cnic_selfie, 'A clear selfie holding the CNIC next to your face'
            = f.file_field :cnic_selfie
          .field
            = f.label :proof_of_residence, 'Proof of Residence'
            %ul
              %li Dated within the past 3 months
              %li Containing your name
              %li Containing your address
              %li May be a digital document
              %li
                Examples:
                %ul
                  %li Bank Statement
                  %li Utility Bill
                  %li Phone Bill

            = f.file_field :proof_of_residence
          .actions
            = f.button 'I declare that this information is accurate', class: 'ui basic red button'
